
.container {
    width: 800px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.left-content {
    width: 80%;
    height: 100%;
    background: aqua;
    float: left;
}

.right-img {
    width: 20%;
    height: 100%;
    background: blue;
    float: left;
}

.content-title {
    width: 100%;
    height: 30%;
    float: left;
    margin-left: 10px
}

.content-detail {
    width: 100%;
    height: 70%;
    background: blue;
    float: left;
}

.left-title {
    float: left;
}
